body {
    @apply text-sm;
}

.btn-add-element::before,
.btn-add-element::after {
    content: "";
    display: block;
    background-color: currentColor;
    height: 2px;
    width: 30px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -1px);
}

.btn-add-element::after {
    transform: translate(-50%, -1px) rotate(90deg);
}

.my-lists-loading li {
    list-style: none;
    background-color: #d0d6e5;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 29px;
    display: block;
    position: relative;
    overflow: hidden;
}

.element-row .round {
    position: relative;
}

.element-row .round .label {
    background-color: #fff;
    border: 1px solid #c5c8d1;
    border-radius: 50%;
    cursor: pointer;
    height: 21px;
    width: 21px;
    display: block;
}

.element-row .round .label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 6px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 9px;
}

.element-row .round input[type="checkbox"] {
    visibility: hidden;
    display: none;
    opacity: 0;
}

.element-row .round input[type="checkbox"]:checked + .label {
    background-color: var(--primary);
    border-color: var(--primary);
}

.element-row .round input[type="checkbox"]:checked + .label:after {
    opacity: 1;
}

.element-row:not(:has(.element-categories)) {
    padding-right: 4rem;
}

.element-row .element-edit,
.element-row .element-categories {
    transition: opacity 0.2s ease;
}

.element-row .element-edit,
.element-row:hover .element-categories {
    opacity: 0;
}

.element-row:hover .element-edit {
    opacity: 1;
}

.category-list {
    padding: 2px 0;
    display: inline-block;
}

.category-list input:checked + span {
    color: var(--primary);
}

.category-list input:checked + span .horizontal {
    opacity: 0;
}

.modal-overlay {
    background-color: rgb(119 120 125 / 90%);
    animation: fade-in 0.1s ease;
}

.modal {
    width: 100%;
    max-width: 600px;
    position: relative;
    animation:
        fade-in,
        show-modal 0.15s ease;
    overflow: hidden;
}

.svg-stroke {
    /* #52545c */
    stroke: currentColor;
}

.svg-fill {
    fill: currentColor;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show-modal {
    from {
        top: -15px;
    }
    to {
        top: 0;
    }
}
