@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #467bf0;
    --dark: #2c2d32;
    --bg: #eeeff4;
    --red: #ec0b26;
    --gray: #ebecf1;
}

@layer base {
    html {
        scroll-behavior: smooth;
        background-color: var(--bg);
    }

    body {
        color: var(--dark);
        background: linear-gradient(
            180deg,
            #e0e7f7 0,
            rgba(229, 238, 255, 0.262661) 1000px,
            rgba(229, 236, 255, 0) 1186px
        );
    }

    .min-h-screenSmall {
        min-height: 100vh; /* fallback */
        min-height: 100svb;
    }

    .min-h-screenLarge {
        min-height: 100vh; /* fallback */
        min-height: 100lvb;
    }

    .animated {
        transition: all 0.2s ease;
    }

    .btn {
        display: inline-block;
        padding: 14px 20px;
        border-width: 1px;
        border-style: solid;
        border-radius: 7px;
        transition:
            color 0.2s ease,
            background-color 0.2s ease,
            border-color 0.2s ease;
    }

    .btn-small {
        padding: 5px 10px;
    }

    .btn-default {
        background-color: transparent;
        border-color: var(--dark);
        color: var(--dark);
    }

    .btn-primary {
        background-color: var(--primary);
        border-color: var(--primary);
        color: #fff;
    }

    .btn-white {
        background-color: #fff;
    }

    .btn-green {
        background-color: #27ba0f;
        border-color: #27ba0f;
    }

    .btn-gray {
        background-color: var(--gray);
        border-color: var(--gray);
    }

    .btn-error {
        border-color: var(--red);
        color: var(--red);
    }

    .btn-error:is(:hover, :focus, :active) {
        background-color: var(--red);
        color: #fff;
    }

    /* TODO To trzeba zmienic kazdy button inny kolor po najechaniu */
    .btn:not([disabled]):is(:hover, :focus, :active) {
        background-color: var(--dark);
        border-color: var(--dark);
        color: #fff;
    }

    .btn-error-no-border {
        border-color: transparent;
    }

    .btn-error-no-border:is(:hover, :focus, :active) {
        border-color: var(--red) !important;
        color: #fff !important;
        background-color: var(--red) !important;
    }

    .btn[disabled] {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.5;
    }

    .form-control {
        background-color: #ecedf1;
        border-color: transparent;
        border-radius: 7px;
        padding: 12px 20px;
    }

    .form-control.success:focus {
        border-color: green;
    }

    .form-control::placeholder {
        font-style: italic;
        color: #7c7d80;
    }

    .form-control:focus::placeholder {
        opacity: 0.5;
    }

    .form-control[disabled] {
        opacity: 0.5;
    }
}
